/* Override the default color set in the original theme */

html[data-theme="light"] {
    --pst-color-background: #fff !important;
    --pst-color-on-background: #080c80 !important;
    --pst-color-primary: #080c80 !important;
}
html[data-theme="dark"] {
    --pst-color-border: #080c80 !important;
    --pst-color-background: #080c80 !important;
    --pst-color-on-background: #080c80 !important;
}

div.admonition {
    background-color:  #fff;
}

.nav-link {
    color: #8486c0 !important;
}

.navbar-nav>:hover>.nav-link {
    color: #fff !important;
}

img.icon-link-image {
    height: 2.5em !important;
}

